@font-face {
    font-family: 'ChantelliAntiqua';
    src: url('../fonts/ChantelliAntiqua.woff2') format('woff2'),
        url('../fonts/ChantelliAntiqua.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  --color-hsl-main: hsl(220, 16%, 22%);
  --color-hsl-main-h: 220;
  --color-hsl-main-s: 16%;
  --color-hsl-main-l: 22%;

  --color-hsl-secondary: hsl(220, 16%, 36%);
  --color-hsl-secondary-h: 220;
  --color-hsl-secondary-s: 16%;
  --color-hsl-secondary-l: 36%;

  --color-hsl-text: hsl(218, 27%, 94%);
  --color-hsl-text-h: 218;
  --color-hsl-text-s: 27%;
  --color-hsl-text-l: 94%;

  --color-hsl-accent: hsl(193, 43%, 67%);
  --color-hsl-accent-h: 193;
  --color-hsl-accent-s: 43%;
  --color-hsl-accent-l: 67%;

  --color-hsl-complement: hsl(219, 28%, 88%);
  --color-hsl-complement-h: 219;
  --color-hsl-complement-s: 28%;
  --color-hsl-complement-l: 88%;

  --font-logotype: 'ChantelliAntiqua', serif;  
}

.library {
  height: calc(100vh - 4rem);

  background-color: var(--color-hsl-secondary);
}

.header {
  height: 4rem;

  background-color: var(--color-hsl-main);

  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__my-library-logotype {
  font-family: var(--font-logotype);
  font-size: 2rem;
  color: var(--color-hsl-text);
}

.my-library-github-link {
  aspect-ratio: 1 / 1;
  height: 2rem;

  background-image: url(../assets/icons/github.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.library__controls-container {
  padding: 0.5rem;

  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  --flex-items-width: 10ch;
  --flex-items-max-width: 25ch;
  --flex-items-height: 2.5rem;
}

.library__add-book,
.library__edit-book,
.library__delete-book {
  width: var(--flex-items-width);
  max-width: var(--flex-items-max-width);
  height: var(--flex-items-height);
  flex: 1 1 auto;

  border-radius: 0.2rem;
}

.library__add-book {
  border: outset hsl(91.3, 70.41%, 44%) 3px;
  background-color: rgb(95 167 29);
}

.library__add-book:hover {
  background-color: hsl(91.3, 70.41%, 37%);
}

.library__add-book:active {
  border-style: inset;
}

.library__edit-book {
  border: outset hsl(41.4, 69.23%, 60%) 3px;
  background-color: rgb(209 156 38);
}

.library__edit-book:hover {
  background-color: hsl(41.4, 69.23%, 47%);
}

.library__edit-book:active {
  border-style: inset;
}

.library__delete-book {
  border: outset hsl(0, 76.17%, 63%) 3px;
  background-color: rgb(227 48 48);
}

.library__delete-book:hover {
  background-color: hsl(0, 76.17%, 50%);
}

.library__delete-book:active {
  border-style: inset;
}

.library__add-button-icon,
.library__edit-button-icon,
.library__delete-button-icon {
  aspect-ratio: 1 / 1;
  height: 1.8rem;

  background-size: contain;
  background-repeat: no-repeat;

  margin: auto;
}

.library__add-button-icon {background-image: url(../assets/icons/book-plus.svg)}
.library__edit-button-icon {background-image: url(../assets/icons/pencil.svg)}
.library__delete-button-icon {background-image: url(../assets/icons/delete.svg)}