@font-face {
    font-family: 'ChantelliAntiqua';
    src: url('../fonts/ChantelliAntiqua.woff2') format('woff2'),
        url('../fonts/ChantelliAntiqua.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  --color-hsl-main: hsl(220, 16%, 22%);
  --color-hsl-main-h: 220;
  --color-hsl-main-s: 16%;
  --color-hsl-main-l: 22%;

  --color-hsl-secondary: hsl(220, 16%, 36%);
  --color-hsl-secondary-h: 220;
  --color-hsl-secondary-s: 16%;
  --color-hsl-secondary-l: 36%;

  --color-hsl-text: hsl(218, 27%, 94%);
  --color-hsl-text-h: 218;
  --color-hsl-text-s: 27%;
  --color-hsl-text-l: 94%;

  --color-hsl-accent: hsl(193, 43%, 67%);
  --color-hsl-accent-h: 193;
  --color-hsl-accent-s: 43%;
  --color-hsl-accent-l: 67%;

  --color-hsl-complement: hsl(219, 28%, 88%);
  --color-hsl-complement-h: 219;
  --color-hsl-complement-s: 28%;
  --color-hsl-complement-l: 88%;

  --font-logotype: 'ChantelliAntiqua', serif;

  --icon-svg-add-book: url(../assets/icons/add-book.svg);
  --icon-svg-edit-book: url(../assets/icons/delete-book.svg);
  --icon-svg-delete-book: url(../assets/icons/edit-book.svg);

  --button-height-big: calc(2.5rem + 1vh);

  --font-size-big: calc(1.5rem + 1vh);
}

.body-wrapper {
  --header-height: min-content;

  height: 100vh;

  display: grid;
  grid-template: 
    "header" var(--header-height)
    "body  " auto;
}

.library {
  background-color: var(--color-hsl-secondary);
}

.header {
  background-color: var(--color-hsl-main);

  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__my-library-logotype {
  font-family: var(--font-logotype);
  font-size: 2rem;
  color: var(--color-hsl-text);
}

.my-library-github-link {
  aspect-ratio: 1 / 1;
  height: 2rem;

  background-image: url(../assets/icons/github.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.library__controls-container {
  padding: 0.5rem;

  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  --button-width-min: 10ch;
  --button-width-max: 25ch;
}

/* Size control buttons */

.library__add-book-button,
.library__edit-book-button,
.library__delete-book-button {
  min-width: var(--button-width-min);
  max-width: var(--button-width-max);
  height: var(--button-height-big);
  flex: 1 1 auto;

  border-radius: 0.2rem;
}

/* Set button's colors */

.library__add-book-button {
  border: outset hsl(91.3, 70.41%, 44%) 3px;
  background-color: rgb(95 167 29);
}
.library__edit-book-button {
  border: outset hsl(41.4, 69.23%, 60%) 3px;
  background-color: rgb(209 156 38);
}
.library__delete-book-button {
  border: outset hsl(0, 76.17%, 63%) 3px;
  background-color: rgb(227 48 48);
}

/* Add icons to the control buttons */

.library__add-book-button {background-image: var(--icon-svg-add-book)}
.library__edit-book-button {background-image: var(--icon-svg-edit-book)}
.library__delete-book-button {background-image: var(--icon-svg-delete-book)}

.library__add-book-button,
.library__edit-book-button,
.library__delete-book-button {
  background-size: var(--font-size-big);
  background-repeat: no-repeat;
  background-position: 50%;
}

/* Change cursor to pointer when hovering on control buttons */

.library__add-book-button:hover,
.library__edit-book-button:hover,
.library__delete-book-button:hover {cursor: pointer}

/* Set button's color on hover */

.library__add-book-button:hover {background-color: hsl(91.3, 70.41%, 37%);}
.library__edit-book-button:hover {background-color: hsl(41.4, 69.23%, 47%);}
.library__delete-book-button:hover {background-color: hsl(0, 76.17%, 50%);}

/* Make buttons look pressed on press */

.library__add-book-button:active,
.library__edit-book-button:active,
.library__delete-book-button:active {
  border-style: inset;
}